
$charcoal: #292929;
$light-charcoal: #5a5a5a;
$dark-blue: #25315A;
$blue: #467298;
$light-blue: #dee6ee;
$off-white: #F9F5F1;
$peach: #E78B71;

@mixin content-text($color, $weight) {
    font-family: 'Roboto Mono', monospace; 
    font-weight: $weight;
    color: $color;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif; 
    font-weight: 400;
    font-size: 1.6rem;
    color: $charcoal;
}

.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(
        to top, 
        rgba($dark-blue, 1), 
        rgba($blue, .75)),
    url(./images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    #heading-arrow {
        position: absolute;
        top: 90%;
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
//                                          NAVBAR                                             //
/////////////////////////////////////////////////////////////////////////////////////////////////

.nav-container {
    height: 7rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: all .5s linear;
    
    .nav-item-container {
        display: flex;
        margin-left: auto;
        margin-right: 2rem;

        .nav-item {
            list-style: none;
            padding: 0 2rem;
            font-weight: 300;

            .nav-item-link {
                text-decoration: none;
                color: white;
                height: 5rem;
                transition: all 0.2s linear;
            
                &:hover {
                    color: $peach;
                    transition: all 0.2s linear;
                }
            }
        }
    }
}

.nav-item-border {
    border: .1rem solid white;
    border-radius: .3rem;
    padding: .5rem;
    transition: all 0.2s linear;

    &:hover {
        border: .1rem solid $peach;
        transition: all 0.2s linear;
    }
}

.nav-active {
    background-color: $charcoal;
    height: 5rem;
    transition: all .5s linear;
}

.logo-box {
    padding: 1rem;
    margin-left: 2rem;
    
    .logo-text-link {
        text-decoration: none;

        .logo-text {
            font-size: 1.5rem;
            font-weight: 300;
            color: white;
            text-transform: uppercase;
            letter-spacing: .05rem;
        
            transition: all .2s linear;
        
            &:hover {
                color: $peach;
                transition: all .2s linear;
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
//                                          HEADING                                            //
/////////////////////////////////////////////////////////////////////////////////////////////////

.heading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

    .heading-primary {
        display: block;
        font-weight: 300;
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: .7rem;
        animation: fadeUp 1s ease-out;
    }

    .heading-secondary {
        @include content-text(white, 300);
        display: block;
        font-size: 2.8rem;
        letter-spacing: .4rem;
        animation: fadeDown 1s ease-out;
    }

}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-1.5rem);
    }

    90% {
        transform: translateY(.2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(1.5rem);
    }

    90% {
        transform: translateY(-.2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
//                                          SECTIONS                                           //
/////////////////////////////////////////////////////////////////////////////////////////////////

.sections-container {
    width: 60%;
    margin: 4rem auto;
}

.section {
    margin: 20rem 0;
    transform: translateX(-5%);
    opacity: 0;
    transition: all 1s ease-out;
}

.active {
    transform: translateX(0);
    opacity: 1;
}


.section-header-container {
    margin: 3rem 0;
}

.section-header {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .5rem;
    border-bottom: .1rem solid $light-charcoal;
    padding-bottom: 3rem;
    color: $charcoal;
}

.content-text {
    @include content-text($blue, 400);
    line-height: 1.6;
}

/////////////////////////////////////////////////////////////////////////////////////////////////
//                                         SKILLS SECTION                                      //
/////////////////////////////////////////////////////////////////////////////////////////////////

.skills-container {
    display: flex;
    justify-content: space-between;
    // background-color: rgba($blue, .1);
    // padding: 1rem;
    margin-top: 4rem;
    
    .skills-category {
        background-color: $blue;
        padding: 2rem;
        width: 30%;

        .skills-category-label {
            @include content-text(white, 400);
            text-transform: uppercase;
            line-height: 1.5;
            margin-bottom: 1rem;
            width: 100%;
            border-bottom: .2rem solid white;
            text-align: center;
        }

        ul {

            .skills-category-item {
                @include content-text($light-blue, 300);
                list-style: none;
                line-height: 1.5;
                margin-bottom: .5rem;
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
//                                       PROJECTS SECTION                                      //
/////////////////////////////////////////////////////////////////////////////////////////////////


.project-container {
    display: flex;
    background-color: $blue;
    padding: 1.5rem;
    margin: 5rem 0;

}

.project-image {
    background-image: url(./screenshots/receta.png);
    height: 20rem;
    min-width: 350px;
    background-position: center;
    background-size: cover;

    .project-image-link-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .2s linear;
        // background-color: none;
    
        &:hover {
            opacity: 1;
            background-color: $blue;
            transition: all .2s linear;
        }

        .project-image-link {
            text-decoration: none;
            margin: 0 4rem;
            display: flex;
            flex-direction: column;
        
            p {
                margin-top: 1rem;
                font-size: 1rem;
                text-align: center;
                color: white;
            }
        }
    }
} 

.fas,
.fab {
    font-size: 5rem;
    color: white;
    margin: 0 auto;
    transition: all .2s linear;

    &:hover {
        color: $peach;
        transition: all 0.2s linear;
    }
    
}

.project-info {
    padding: 0 .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .project-info-header {
        color: white;

        .project-header-link {
            text-decoration: none;
            color: white;
            transition: all .2s linear;
        
            &:hover {
                color: $peach;
                transition: all .2s linear;
            }
        }

    }

    .project-info-description {
        @include content-text($light-blue, 300);
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    
    .project-info-technologies {
        display: flex;
        align-items: center;

        .info-tech-list {
            display: flex;
            align-items: center;

            .info-tech-item {
                @include content-text(white, 400);
                font-size: 1.3rem;
                border: .1rem solid white;
                border-radius: .3rem;
                list-style: none;
                padding: .4rem;
                margin: .5rem;
                text-align: center;
            }
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
//                                             FOOTER                                          //
/////////////////////////////////////////////////////////////////////////////////////////////////

.footer {
    background-color: $charcoal;
    color: white;
    height: 15rem;

    .footer-sections-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .footer-section {

            .footer-text {
                margin-right: 4rem;
                font-weight: 300;
            }
            
            &:nth-child(2) {
                border-left: .2rem solid white;
            }
        }
    }
}

.footer-image-link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;

    i {
        color: white;
        margin-right: 2rem;
    }

    p {
        color: white;
        font-weight: 300;
        text-decoration: none;
        transition: all .2s linear;

        &:hover {
            color: $peach;
            transition: all .2s linear;
        }
    }
}

