* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    /* color: white; */
    /* line-height: 1.7; */
    padding: 30px;
}

.header {
    position: relative;
    height: 70vh;
    background-image: linear-gradient(
        to top, 
        rgba(30, 30, 70, 0.801), 
        rgba(30, 30, 70, 0.801)),
    url(./images/hero.jpg);
    background-position: center;
    background-size: cover;
}

.logo-box {
    position: absolute;
    top: 30px;
    left: 50px;
}

.logo-text {
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

h1 {
    color: white;
    text-align: center;
}

.heading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    display: block;
    font-weight: 300;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 7px;

    animation: fade 2s ease-out;
}

.heading-secondary {
    display: block;
    font-family: 'Roboto Mono', monospace; 
    font-weight: 300;
    font-size: 0.8em;

    animation: fadeDown 1.5s ease-out;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }

    90% {
        transform: translateY(2px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

